@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}

.form-floating>label {
    font-size: 80%;
}

.vs--searchable .vs__dropdown-toggle {
    border: 0;
    background-color: transparent;
}

.form-floating>.form-control:required~label::after {
    content: "*";
    color: red;
    left: auto;
    font-size: 14px;
    background-color: transparent;
}

.btn {
    font-weight: bold;
    font-size: 90%;
}

.barcode-128 {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}